body {
    margin-top: 0;
}
ul.nav-main{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul.nav-main li{
    float:left;
}

.nav-item{
    text-decoration: none;
    display: block;
    padding: 30px;
    text-align: center;
    color: white;
    border-right: 1px solid #f9f9f9;

}
.nav-item:hover{
    background-color: #111;
}

@media screen and (max-width: 600px){
    ul.nav-main li{
        float:none;
    }
    .nav-item{
        padding: 5px;
    }
}

footer{
    background-color: grey;
    color:white;
    display: block;
    clear:left;
    margin-top: 20px;
    height: 200px;
}


.left{
    float:left;
    padding-left: 100px;
}
.left p:after{
    clear:left;
}
.right{
    float:right;
    padding-right: 100px;
}
.right i{
padding-left: 10px;
    margin-top: 20px;
font-size: 40px;
}


@media screen and (max-width: 600px){
    .right{
        float:none;
        text-align: center;
        padding:0px;
    }
    .left{
        float:none;
        text-align: center;
        padding:0px;
    }
    footer{
        height: 350px;
    }
}
