body {
    margin-top: 0;
}
ul.nav-main{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul.nav-main li{
    float:left;
}

.nav-item{
    text-decoration: none;
    display: block;
    padding: 30px;
    text-align: center;
    color: white;
    border-right: 1px solid #f9f9f9;

}
.nav-item:hover{
    background-color: #111;
}

@media screen and (max-width: 500px){
    ul.nav-main li{
        float:none;
    }
    .nav-item{
        padding: 5px;
    }
}